.abook/
.adobe
.cache
.config/autostart/
.config/awesome/
.config/dwb/default
.config/dwb/userscripts
.config/dwb/keys*
.config/dwb/mimetypes
.config/dconf/
.config/gtk-*
.config/lyvi/lyvy.py
.config/lyvi/lyvi/
.config/ranger/colorschemes/__*
.config/ranger/__pycache__
.config/ranger/bookmarks
.config/ranger/*.py
.config/ranger/history
.config/ranger/tagged
.config/ranger/*.sh
.config/ranger/rc.conf
.config/sxiv/
.config/newsbeuter/urls
.config/pulse/
.dbus/
.fonts/fonts.dir
.fonts/fonts.scale
.pki/
.thumbnails/
.w3m/
.weechat/
aur/
.gconf/
.gimp*/
.gnupg/
.gstreamer*/
.icons/
.irssi/scripts/
.irssi/*autosave
.irssi/default.theme
.java/
.local/
.macromedia/
.mpd/database
.mpd/log
.mpd/pid
.mpd/state
.mpd/playlists
.mplayer/fifo
.mutt/
.ncmpcpp/error.log
.newsbeuter/
.pulse/
.rtorrent.rc
.rtorrent/session
.task/
.texlive/
.themes/
.torrent-search/
.vim/bundle/
.vim/plugin/
.vim/spell/
.vim/syntax/
.urxvt/
Anime/
backups/
Desktop/
Download/
Games/
Immagini/
Mail/
Music/
screenshots/
Uni*/
Video/
.bash_history
.gitconfig
.git-*
.lesshst
.offlineimaprc
.pulse-cookie
.p7zip
.recently-used
.taskrc
.viminfo.*
