aur/
Desktop/
Download/
Immagini/
Music/
screenshots/
.abook/
.bash_history
.cache/
.config/awesome/
.config/dconf/
.config/gtk-*
.config/ranger/colorschemes/__*
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.config/ranger/*.conf
.newsbeuter/urls
.newsbeuter/cache*
.newsbeuter/history*
.gimp*/
.git*
.gnupg/
.icons/
.lesshst
.local/
.mozilla/
.mpd/database
.mpd/log
.mpd/pid
.mpd/state
.mpd/playlists
.mpv/
.mutt/accounts/
.ncmpcpp/*.log
.ncmpcpp/artists/
.purple/
.ssh/
.spm/
.urxvt/
.vim/bundle/
.vim/.*
.*history
.viminfo.*
.viminfz.*
.Xauthority
.*log*
*.tmp
