#include ".colors/copland"

Xft.lcdfilter                : lcddefault
Xft.hintstyle                : hintslight
Xft.hinting                  : 1
Xft.autohint                 : 1
Xft.antialias                : 1
Xft.dpi                      : 96
Xft.rgba                     : rgb

Xcursor.theme                : Vanilla-DMZ-AA

URxvt.font                   : xft:Tamsyn:pixelsize=14:autohint=true
URxvt.boldFont               : xft:Tamsyn:pixelsize=14:autohint=true
URxvt.scrollBar              : false
URxvt.buffered               : true
URxvt.depth                  : 16
URxvt.iso14755               : false
URxvt.perl-ext-common        : default,tabbedex
URxvt.tabbed.tabbar-fg       : 8
URxvt.tabbed.tabbar-bg       : 0
URxvt.tabbed.tab-fg          : 15
URxvt.tabbed.tab-bg          : 0
URxvt.tabbed.autohide        : true
URXvt.tabbed.reopen-on-close : yes
URxvt.perl-ext               : default,url-select
URxvt.keysym.C-i             : perl:url-select:select_next
URxvt.url-select.launcher    : /usr/bin/firefox
URxvt.url-select.underline   : true
URxvt.colorUL                : #78A4FF
