#include "/home/luke/.colors/holo"

Xcursor.theme: Vanilla-DMZ-AA

*.charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48,35:48,58:48,63:48,61:48,44:48,38:48,59:48

*.font: -*-tamsyn-medium-*-*-14-*-*-*-*-*-*-* 
*.boldFont: -*-tamsyn-medium-r-*-*-14-*-*-*-*-*-*-* 
*.italicFont: -*-tamsyn-medium-r-*-*-14-*-*-*-*-*-*-* 
*.boldItalicFont: -*-tamsyn-medium-r-*-*-14-*-*-*-*-*-*-* 

*saveLines: 2048
*scrollBar: false
*dynamicColors: true
*multiScroll: true

URxvt.depth: 32

URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:     /usr/bin/dwb
URxvt.matcher.button:   1

#include "/home/luke/.colors/urxvt_fix"
