body {
  background-color: #242424;
  font-family: "Terminus";
  font-size: 12pt;
  font-weight: normal;
  margin-left: 7%;
}
a:link,a:visited,a:active {
  text-decoration: none;
  color: #dddcff;
<<<<<<< HEAD
  fo:nt-weight: normal;
=======
  font-weight: normal;
>>>>>>> c857ac20227d082b3671756c045a72832022a666
}
a:hover {
  text-decoration: underline;
  color: #dddcff;
  font-weight: normal;
}
table {
  border-spacing: 8px;
}
td:first-child {
  font-weight: bold;
  color: #9e9e9e
}
td:nth-child(2) {
  font-weight: normal;
  color: #4C4C4C;
}